.root {
  flex: 1;
  --color: black;
  --bgColor: white;
  color: var(--color);
  background-color: var(--bgColor);
}

.root[theme='dark'] {
  --color: white;
  --bgColor: black;
}

.topbar {
  height: 40px;
  background-color: var(--bgColor);
  transition: opacity 0.3s;
}

.topbar[transparent] {
  opacity: 0.2;
}

.topbar[size='l'] {
  height: 60px;
}

.topbar[size='s'] {
  height: 30px;
}

@media (max-width: 600px) {
  .topbar[size='s'] {
    height: 20px;
  }
}

.button {
  font-size: 12px;
}

@media (min-width: 500px) {
  .button[variant='primary'] {
    color: red;
  }
}

.header {
  font-size: 24px;
  line-height: 32px;
}

.header[bold] {
  font-weight: bold;
}

.content {
  background-color: rgba(0, 60, 120, 0.5);
}

.content[full] {
  flex: 1;
  min-height: 100vh;
}
